<!DOCTYPE html>
<html>
<head>
		<title>Popular Businesses</title>
<style>
body {
	font-family: Palatino, URW Palladio L, serif;
	font-size: 25px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}



</style>
</head>

<body>
	Find Popular Businesses!
<br>
<br>
<br>

<form action="" method="POST">{% csrf_token %}
    <label for="location">Location: </label>
    <input id="location" type="text" name="location" value="">
    <input type="submit" value="Search">
</form>
<body>


</html>

