<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat"}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {background-image: url("/w3images/wedding_couple.jpg")}
.bgimg2 {background-image: url("/w3images/flowers.jpg")}
</style>
<body>

<!-- Header / Home-->
  <header class="w3-display-container w3-wide bgimg w3-margin-top" id="Home">
    <p></p>
    <p></p>
    <title>Meet Me Halfway</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1 {font-family: "Montserrat"}
    img {margin-bottom: -7px}
    .w3-row-padding img {margin-bottom: 12px}
    </style>
    <body>
    

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-black w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="#Home" style="width:33.3%" class="w3-bar-item w3-button">Home</a>
    <a href="#Search" style="width:33.3%" class="w3-bar-item w3-button">Search</a>
    <a href="#Profile" style="width:33.3%" class="w3-bar-item w3-button">Profile</a>
  </div>
</div>

<!-- Search -->
<div class="w3-container w3-padding-64" style = "background-color: #fbf3d4" id="Search">
  <header class="w3-container w3-content" style="max-width:1500px; background-color: #fbf3d4; border:1px gray;">
    <div class="w3-padding w3-col 50 m50">
      <div class="w3-container" style = "background-color:#fbf3d4">
        <h2><i class="fa fa-search w3-margin-right"></i>Search</h2>
      </div>
      <div class="w3-container w3-white">
        <form action="" method="POST">{% csrf_token %}
          <div class="w3-row-padding">
            <style>
              * {
                box-sizing: border-box;
              }
              .column {
                float: left;
                width: 33.33%;
                padding: 10px;
              }
              .row:after {
                content: "";
                display: table;
                clear: both;
              }
              </style>
              </head>
              <body>
              <div class="row">
                <div class="column">
                  <label for="friend"><i class="fa fa-male"></i> Add a Friend</label>
                  <input class= "w3-input w3-border" type="text" placeholder="Name" name= "friend" required>  
                </div>
                <div class="column">
                  <label for="location1"><i class="fa fa-cloud"></i> Location 1</label>
                  <input class= "w3-input w3-border" type="text" placeholder="Enter First Location" name="location1" required>
                </div>
                  <div class="column">
                    <label for="ratio"><i class="fa fa-cloud"></i> Location 2</label>
                    <input class="w3-input w3-border" type="text" placeholder="Enter Second Location" name="location2" required>
                  </div>
                </div>
              <div class="row">
                <div class="column">
                  <label for="radius"><i class="fa fa-car"></i> Radius</label>
                  <input class="w3-input w3-border" type="number" placeholder="Enter Radius in Miles" name ="radius" min="0" max="24.8" required>
                </div>
                <div class="column">
                  <label for="ratio"><i class="fa fa-search"></i> Ratio</label>
                  <input class="w3-input w3-border" type="number" placeholder="Enter Ratio Percentage for Distance From Location 1" name ="ratio" min="0" max="100" required>
                  </div>
                <div class="column">
                  <label for="budget"><i class="fa fa-money"></i> Budget</label>
                  <input class="w3-input w3-border" type="number" placeholder = "In USD" min="0" name="budget" required>
                </div>
              </div>
              </body>
          </div>
          <div class="w3-row-padding" style="margin:24px -16px;">
          <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i> Search</button>
        </form>
      </div>
    </div>
    <hr>
  </body>
  </header>
</div>

  <script>
  // Accordion
  
  function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
      x.previousElementSibling.className += " w3-theme-d1";
    } else { 
      x.className = x.className.replace("w3-show", "");
      x.previousElementSibling.className = 
      x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
  }
  </script>
  </body>
</div>



</body>
</html>
