<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.mySlides {display: none}
</style>
<body class="w3-content w3-border-left w3-border-right">

  <!-- Header -->
<header class="w3-container w3-content" style="max-width:1500px; background-color: mistyrose; border:1px gray;">
  <div class="w3-display-middle w3-padding w3-col 50 m50">
    <div class="w3-container" style = "background-color: mistyrose">
      <h2><i class="fa fa-search w3-margin-right"></i>Search</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-male"></i> Add a Friend</label>
            <input class= "w3-input w3-border" type="text" placeholder="Name">   
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-cloud"></i> Radius</label>
            <input class="w3-input w3-border" type="text" placeholder="Miles" min="1" max="100" required>
          </div>
          <div class="w3-half">
            <label><i class="fa fa-search"></i> Ratio</label>
            <input class="w3-input w3-border" type="text" placeholder="Enter Location">
          </div>
        </div>
        <div class="w3-row-padding" style="margin:16px -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-search"></i> Adults</label>
            <input class="w3-input w3-border" type="number" placeholder="ex) 10:90" min="1" max= "100"required>
          </div>
          <div class="w3-half">
            <label><i class="fa fa-money"></i> Kids</label>
          <input class="w3-input w3-border" type="number" placeholder = "$$$$" min="0">
          </div>
        </div>
        <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i> Search availability</button>
      </form>
    </div>
  </div>
</header>
</body>
</html>
